[user]
	name = Marlon Marcello
	email = {{ .email | quote }}

[pull]
  rebase = false
  ff = yes

[push]
  autosetupremote = true
  followTags = true

[init]
  defaultBranch = main

[rerere]
	enabled = true
