if status is-interactive
  # Commands to run in interactive sessions can go here
  # eval (zellij setup --generate-auto-start fish | string collect)
end

{{- if eq .chezmoi.os "darwin" }}
fish_add_path /opt/homebrew/bin/
fish_add_path /opt/homebrew/sbin

source /opt/homebrew/opt/asdf/libexec/asdf.fish
{{- end }}

{{- if eq .chezmoi.hostname "marlon-work-mac" }}
set -gx AWS_PROFILE wtc
{{- end }}

set -Ux PYENV_ROOT $HOME/.pyenv
fish_add_path $PYENV_ROOT/bin
pyenv init - | source

rbenv init - fish | source

set -x N_PREFIX "$HOME/n"; contains "$N_PREFIX/bin" $PATH; or set -a PATH "$N_PREFIX/bin"  # Added by n-install (see http://git.io/n-install-repo).

fzf --fish | source

set -gx EDITOR nvim

set -gx VISUAL nvim

fish_config theme choose "DraculaOfficial"

set -Ux FZF_DEFAULT_OPTS "--color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4"

set fzf_fd_opts --hidden --max-depth 5 -E .git

alias ns="zellij action new-tab --layout $HOME/.config/zellij/layouts/node.kdl"

if not string match -q -- "$HOME/bin" $PATH
  set -gx PATH $PATH "$HOME/bin"
end

alias ls="eza -l --grid --icons"
alias tree="eza -T --icons"

alias cat="bat"
