themes {
    dracula {
        fg "#44475a"
        bg "#6272a4"
        red "#ff5555"
        green "#bd93f9"
        yellow "#f1fa8c"
        blue "#8be9fd"
        magenta "#ff79c6"
        orange "#ffb86c"
        cyan "#8be9fd"
        black "#50fa7b"
        white "#44475a"
    }
}
